@import "../common/vars";

.wrap-dorra {
  min-width: 320px;

  section {
    padding-top: 70px;
  }

  .link {
    text-decoration: none;
    position: relative;
    padding-left: 25px;
    transition: opacity 0.15s ease-in;
    display: block;

    .text {
      width: 145px;
      height: 22px;
      text-align: center;
      color: @light-green;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
    }

    &:after {
      width: 22px;
      height: 22px;
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      background: url("@{imgdir}/link2.png") no-repeat;
      background-size: cover;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .start {
    padding-top: 0;

    .header {
      background: url("@{imgdir}/start.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @media @tablet {
        height: 400px;
      }

      .brand-info {
        height: 200px;

        @media @tablet {
          height: auto;
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;

      .brand-info {
        height: 140px;
      }
    }

    .brand-info {
      background-color: #232323;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .logo {
        background: url("@{imgdir}/logo_dorra-white.png") no-repeat;
        background-size: contain;
        .size(467px, 48px);
        margin-top: 65px;

        @media (max-width: 600px) {
          .size(234px, 24px);
        }
      }

      .sub-text {
        margin-top: 30px;
        width: 275px;
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
      }

      .link {
        margin-top: 21px;
      }
    }

  }

  .main-task {
    padding-top: 70px;

    .site {
      img {
        width: 100%;
      }
    }
  }

  .elements-of-design {
    height: 830px;
    background: @dark-green radial-gradient(circle 614px at center, rgba(1, 165, 132, 0.11) 0%, rgba(1, 165, 132, 0) 100%);
    color: #fff;

    .subscribe {
      margin-top: 35px;
    }
  }

  .main-page {
    height: 644px;
    background: @violet radial-gradient(circle 477px at center, rgba(255, 255, 255, 0.22) 0%, rgba(255, 255, 255, 0) 100%);
    box-sizing: content-box;

    @media (max-width: 1024px) {
      text-align: center;
    }

    .content-dorra {
      position: relative;
      height: 100%;

      .image {
        .pseudo;
        .size(100%);
        z-index: 1;
        width: 1097px;
        height: 594px;
        left: -177px;
        bottom: -13px;

        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    .seo-block {
      padding-top: 136px;
      color: #fff;
      z-index: 2;
      margin-left: auto;
      position: relative;
      margin-right: 0;

      @media (max-width: 1024px) {
        margin-right: auto;
      }
    }

    .dorra-btn {
      display: inline-block;
      color: #28302e;
      font-size: 16px;
      line-height: 20px;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
      padding: 16px 29px 14px;
      margin: 0 0 20px;
      background: #90e2d2;
      -webkit-box-shadow: 0 9px 14px rgba(0, 0, 0, 0.12);
      box-shadow: 0 9px 14px rgba(0, 0, 0, 0.12);
    }
  }

  .inner-pages {
    position: relative;
    background-color: #f5f5f5;

    .site-pages {
      img {
        width: 100%;
      }
    }

    .seo-block {
      margin-left: 0;
      height: 50px;

      @media (max-width: 1024px) {
        height: auto;
      }
    }
  }

  .product-page {
    height: 2408px;
    overflow: hidden;

    .advantage {
      width: 1400px;
      display: flex;

      .advantage-text {
        width: 300px;
        position: relative;

        .adv-wrap {
          position: absolute;

          .adv-title {
            color: #000000;
            font-size: 24px;
            font-weight: 400;
            line-height: 52px;
            border-bottom: 1px solid #dddddd;
          }

          .adv-text {
            color: #767676;
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
          }
        }
      }

      .advantage-text-page-full {
        padding-left: 36px;
      }
    }

  }

  .adaptive {
    background-color: @dark-green;
    background-image: radial-gradient(circle 575px at center, rgba(1, 165, 132, 0.11) 0%, rgba(1, 165, 132, 0) 100%);
    color: #fff;

    .content-dorra {
      display: flex;

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }

      .annotation {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        justify-content: flex-start;

        @media (max-width: 1024px) {
          padding-top: 0;
          text-align: center;
        }

        .seo-block {
          margin-top: 0;
          margin-bottom: 0;
        }

        .icons {
          margin-top: 80px;
          display: flex;
          margin-bottom: auto;

          @media (max-width: 1024px) {
            margin-top: 40px;
            margin-bottom: 40px;
            padding-top: 0;
            text-align: center;
          }

          .icon-wrap {
            margin-right: 70px;

            @media (max-width: 1024px) {
              margin-right: 0;
              justify-content: space-around;
            }

            .icon {
              .size(125px);
              display: flex;
              justify-content: center;
            }

            .icon-title {
              text-align: center;
              font-size: 24px;
              font-weight: 400;
              line-height: 52px;
            }
          }
        }
      }
    }
  }

  .final {
    height: 840px;
    background-size: cover;
    background: url("@{imgdir}/dorra-footer.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .thanks-and-links {
      .size(840px, 340px);
      margin: 0;
      background-color: #232323;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 1024px) {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
      }

      .thanks {
        margin-top: 66px;
        font-size: 45px;
        font-weight: 400;
        line-height: 27px;
      }

      .link {
        margin-top: 42px;
      }

      .delimiter {
        margin-top: 35px;
      }

      .letsrock {
        margin-top: 35px;
        display: flex;

        .logo {
          background-size: cover;
          background: url("@{imgdir}/letsrock.png") no-repeat;
          .size(160px, 35px);
          .pseudo;
          opacity: 0.6;
          position: relative;
        }

        .year {
          .size(33px, 11px);
          margin-left: 15px;
          opacity: 0.6;
          color: #ffffff;
          font-size: 15px;
          font-weight: 400;
          line-height: 27px;
          text-transform: uppercase;
          letter-spacing: 0.3px;
        }
      }

    }
  }

}