@import "../common/vars";

.seo-block {
  width: 550px;
  margin: auto;
  z-index: 5;
  position: relative;

  .seo-title {
    margin-top: 0;
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
  }

  .seo-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }

  &.centred {
    text-align: center;
  }

  @media (max-width: 550px) {
    width: 100%;
  }
}